package ${modelPackage};
import javax.persistence.*;
import java.io.Serializable;
import lombok.Data;
import javax.validation.constraints.NotNull;
import org.hibernate.validator.constraints.Length;
#if (${hasDate})
import java.util.Date;
#end
#if (${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
*${remark}
*
* @author ${author}
*/
@Table(name = "${tableName}")
@Data
public class ${pojoBeanName} implements Serializable {
#foreach ($item in $columns)

    #if (${item.remark} && ${item.remark}!='' )
    /**
    * ${item.remark}
    */
    #end

    #if ( ${item.javaType} == "String" )
    @Length(max=${item.maxLength},message="${item.columnName} 长度不能超过${item.maxLength}")
    #end
    #if ( ${item.allowNull} == false )
    @NotNull(message = "${item.columnName} not allow null")
    #end
    #foreach(${key} in ${primaryKeys})
        #if ( ${item.columnName} == ${key} )
        @Id
        #end
    #end
@Column(name = "${item.columnName}")
private ${item.javaType} ${item.camelProperty};
#end

}