package ${mapperPackage};

import java.util.List;
import ${modelPackage}.${pojoBeanName};
import tk.mybatis.mapper.common.Mapper;

/**
*
* @author ${author}
* @date ${dateTime}
*/
public interface ${pojoBeanName}Mapper extends Mapper<${pojoBeanName}> {


}